body {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
/* begin styling top section */
.topsection {
    background-color: #1F2937;
    height: 550px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 75px;
}

.topbar, .topmainleft {
    color: #F9FAF8;
    font-size: 24px;
}

#topmaintext {
    font-size: 48px;
    font-weight: bolder;
}

.topbarlinks, .subtext {
    font-size: 18px;
    color: #a0a2a7;
}

.topbarlinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}

.topmain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-left: 200px;
    margin-right: 200px;
    gap: 32px;
}

.signup {
    background-color: #3882F6;
    font-weight: bold;
    color: #F9FAF8;
    font-size: 18px;
    border-radius: 8px;
    width: 135px;
    height: 40px;
}

.topmainleft {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.topmainright {
    width: 1100px;
    height: 300px;
}

/* begin styling info section */
.info {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    height: 375px;
}

.infomain {
    display: flex;
    flex-direction: column;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex: 1;
    width: 1200px;
    margin-top: 40px;
}

.borderboxes, .borderboxtext {
    width: 150px;
}

.borderboxes {
    border: 4px solid #3882F6;
    border-radius: 12px;
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
}

#infosubtext {
    display: flex;
    justify-content: center;
    font-weight: 450;
    gap: 50px;
    width: 1200px;
    flex: 1;
    text-align: center;
    font-size: 15px;
}

/* begin styling quote section */
.quote {
    background-color: #E5E7EB;
    height: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1F2937;
}

.quotemain {
    width: 750px;
    margin: auto;
}

#quotename {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    color: #1F2937;
    position: relative;
    left: 470px;
}